/* ===== KEYFRAMES ===== */

@keyframes slideIn {
  0%, 20% {
    transform: translateX(-100rem);
  }
  90% {
    transform: translateX(3rem) skew(-20deg);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
    text-shadow: 0 0 7px rgba(255, 255, 255, .8);
  }
}

@keyframes shootDown {
  from {
    height: 0;
  }
  to {
    height: 1em;
  }
}

@keyframes grow {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes popIn {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes up {
  from {
    transform: translateY(1000%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes splitLeft {
  0%, 10% {
    transform: translate(-50%, 0px) rotate(0);
  }
  10% {
    transform: translate(-50%, 0px) rotate(0);
  }
  30% {
    transform: translate(-54%, 20px) rotate(0);
  } 
  65% {
    transform: translate(-54%, 40px) rotate(-30deg);
  }
  100% {
    transform: translate(-500%, 40px) rotate(-30deg);
  }
}

@keyframes splitRight {
  0%, 65% {
    transform: translate(-50%, 0px) rotate(0);
  }
  100% {
    transform: translate(500%, 0px) rotate(0);
  }
}