/* ====== GLOBAL ===== */

/* Reset */
*, 
*::before, 
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: rgba(85,85,255,1);
  --red: rgba(255,85,85,1);
  --shadow: 0 5px 5px rgba(0, 0, 0, .3);
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, var(--blue) 0.1%, var(--red) 100%);
  font-family: 'Bangers', Impact, sans-serif;
  color: white;
}

h1 {
  margin: 2rem 0;
  font-size: 5rem;
  text-align: center;
}

hr {
  width: 100%;
  height: 2px;
  background-color: white;
  border: none;
  margin: 1rem 0;
  animation: grow .5s both;
}

label,
select,
.select-wrapper {
  animation: popIn .3s .3s both;
}

label {
  display: block;
  width: 20rem;
  font-size: 2.5rem;
}

select {
  padding-left: .5rem;
  width: 14rem;
  height: 3rem;
  background: #fff;
  border: none;
  box-shadow: var(--shadow);
  -webkit-appearance: button;
  -moz-appearance: button;
  outline: none;
  color: hsl(230, 0%, 20%);
  cursor: pointer;
  font-size: 2rem;
}

.selection-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10rem;
}

.select-wrapper {
  margin-top: 6rem;
  position: absolute;
}

.randomComboBox__selection .select-wrapper {
  margin-top: 4rem;
}

.select-wrapper::before {
  content: '▼';
  font-size: 1rem;
  color: #222;
  text-align: center;
  line-height: 3rem;
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 3rem;
  background: white;
  border-radius: 6px;
  pointer-events: none;
  z-index: 10;
}


.btn {
  padding: 1rem;

  margin: 1rem;

  background: white;
  border: none;
  border-radius: 10rem;
  box-shadow: var(--shadow);
  color: var(--blue);
  cursor: pointer;
  outline: none;
  width: 22rem;
  transition: .3s;
  
  font-family: 'Bangers', Impact, sans-serif;
  font-size: 2.8rem;
  letter-spacing: .8px;
}

.btn:hover {
  transform: scale(1.03) translateY(-3px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
}

.btn:active {
  transform: scale(1) translateY(0);
}

.start-screen__btn {
  animation: popIn .3s;
}

.random-screen__btn {
  animation: up .5s backwards;
}

#generateTrickBtn {
  animation: up .5s backwards;
}

#redo {
  animation: up .5s backwards;
}

#next {
  animation: up .5s .1s backwards;
}

#new {
  animation: up .5s .2s backwards;
}

#backToChoices {
  animation: up .5s .3s backwards;
}

.build-screen__combo,
.random-screen__combo {
  line-height: 1.7;
  width: 100%;
}

.connector {
  margin-top: -1rem;
  overflow: hidden;
  font-size: 3rem;
}

.connector.build {
  animation: shootDown .3s linear;
}

.transition {
  font-size: 2.3rem;
}

.transition.build {
  animation: pulse .3s;
}

.takeoff, 
.landing {
  font-size: 2.5rem;
}

.trick {
  font-size: 3.3rem;
  font-style: italic; 
}

.trick.build {
  position: relative;
  color: transparent;
  animation: slideIn .6s;
}

/* For delete animation */
.build::before,
.build::after {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0px) rotate(0);
  color: #fff;
  content: attr(data-name);
  width: 100%;
  font-size: inherit;
}

.build.remove::before {
  clip-path: polygon(0 0, 55% 0, 35% 100%, 0% 100%);
  animation: splitLeft 1.9s 10ms forwards;
}

.build.remove::after {
  clip-path: polygon(60% 0, 100% 0, 190% 110%, 40% 100%);
  animation: splitRight 1.9s 10ms forwards;
}