/* ====== GLOBAL ===== */

/* Reset */
*, 
*::before, 
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: rgba(85,85,255,1);
  --red: rgba(255,85,85,1);
  --shadow: 0 5px 5px rgba(0, 0, 0, .3);
}

html {
  font-size: 62.5%;

  @include respond(tablet) { font-size: 70% };
  @include respond(desktop) { font-size: 75% };
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, var(--blue) 0.1%, var(--red) 100%);
  font-family: 'Bangers', Impact, sans-serif;
  color: white;
}

h1 {
  margin: 2rem 0;
  font-size: 5rem;
  text-align: center;

  @include respond(tablet) {
    margin-top: 4rem;
    font-size: 6rem;
  }

  @include respond(desktop) { font-size: 7rem };
}

hr {
  width: 100%;
  height: 2px;
  background-color: white;
  border: none;
  margin: 1rem 0;
  animation: grow .5s both;
}

.build-screen__combo,
.random-screen__combo {
  line-height: 1.7;
  width: 100%;
}

.build-screen__choices,
.randomScreen__choices {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.build-screen__choices-difficulty,
.randomScreen__selection--difficulty {
  position: relative;
}

.connector {
  margin-top: -1rem;
  overflow: hidden;
  font-size: 3rem;
}

.transition {
  font-size: 2.3rem;
}
