/* ===== BUILD COMBO SCREEN ===== */

.build-screen {
  width: 100%;
  margin-top: 2rem;
  text-align: center;

  &__combo {
    margin-bottom: 2rem;
  }
}

.connector.build .connector__arrow {
  transform: translateY(-10rem);
  animation: shootDown .8s linear forwards;
}

.transition.build {
  animation: pulse .3s;
}

/* For delete animation */
.build::before,
.build::after {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0px) rotate(0);
  color: #fff;
  content: attr(data-name);
  width: 100%;
  font-size: inherit;
}

.build.remove::before {
  clip-path: polygon(0 0, 55% 0, 35% 100%, 0% 100%);
  animation: splitLeft 1.9s 10ms forwards;
}

.build.remove::after {
  clip-path: polygon(60% 0, 100% 0, 190% 110%, 40% 100%);
  animation: splitRight 1.9s 10ms forwards;
}

#generateTrickBtn {
  animation: up .5s backwards;
}

#redo {
  animation: up .5s backwards;
}

#next {
  animation: up .5s .1s backwards;
}

#new {
  animation: up .5s .2s backwards;
}

#backToChoices {
  animation: up .5s .3s backwards;
}