/* ===== RANDOM COMBO SCREEN ===== */

@use '../abstracts/' as *;

.random-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;

  &__choices {
    margin: 4rem 0;
  }

  &__selection--difficulty {
    margin-bottom: 3rem;
  }

  &__combo {
    margin: 2rem auto;
    width: 100%;
    text-align: center;
  }

  &__btn {
    animation: up .5s backwards;

    @include respond(tablet) { margin-top: 3rem };
  }
}
