@use '../abstracts/' as *;

.header {
  display: flex;
  position: fixed;
  top: 0;
  padding: 1rem 2px;

  background-color: #fff;
  width: 100%;
  z-index: 10;

  &__nav {
    display: flex;
    justify-content: space-around;
    flex: 2;
  }

  button {
    padding: 0 4px;

    border: none;
    background: #fff;
    color: var(--blue);
    cursor: pointer;
    outline: none;

    font-size: 2rem;
    font-family: inherit;

    &.active {
      border-bottom: 2px solid var(--blue);
    }
  }
}

.logo {
  height: 2rem;
  width: 2rem;

  margin-left: 1rem;
  overflow: hidden;


  cursor: pointer;

  img {
    height: auto;
    max-width: 100%;
  }
}