.install {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 4rem 1rem 1rem 1rem;
  background: var(--blue);
  color: white;
  text-align: center;

  animation: up 1s forwards;

  &__promo {
    margin: 1rem 0;
    letter-spacing: 1px;
    font-size: 2rem;
  }

  &__close {
    position: absolute;
    right: 2rem;
    top: 1rem;
    cursor: pointer;
    font-size: 3rem;

    &:hover {
      opacity: .8;
      transform: scale(1.1);
    }
  }
}

.ios-install {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3rem 1rem 1rem 1rem;
  background: #eee;
  color: black;

  font-family: Arial;
  text-align: center;

  animation: up 1s forwards;

  &__promo {
    margin: 1rem 0;
    letter-spacing: 1px;
    font-size: 1.5rem;
  }

  &__close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
    font-size: 3rem;

    &:hover {
      opacity: .8;
      transform: scale(1.1);
    }
  }

  svg {
    fill: rgb(82, 82, 255);
    width: 2rem;
    height: 2rem;
  }
}