.open-info {
  position: fixed;
  bottom: 1rem;
  right: 1rem;

  cursor: pointer;
  width: 2rem;
  height: 2rem;
  fill: white;
}


.close-info {
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;

  font-size: 4rem;
}


.info-modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: none;

  background: var(--blue);

  &.open {
    display: block;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;

    height: 100%;

    font-size: 2rem;

    @include respond(desktop) {
      align-items: center;
    }

    & > * {
      display: inline;
      margin: 2rem 0;
    }
  }
}

.copy {
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;

  font-size: 1.5rem;
  text-align: center;
}

.link {
  &:link {
    color: lighten(rgb(255, 85, 85), 10%);
  }

  &:visited {
    color: goldenrod;
  }

  &:hover {
    background-color: white;
    color: var(--blue);
  }
}