.trick {
  font-size: 3rem;
  font-style: italic; 

  &.build {
    position: relative;
    color: white;
    animation: slideIn .6s;
  }

  @include respond(tablet) { font-size: 3.3rem };
  @include respond(desktop) { font-size: 3.8rem };
}