/* ===== KEYFRAMES ===== */

@keyframes slideIn {
  0%, 20% {
    transform: translateX(-100rem);
  }
  90% {
    transform: translateX(3rem) skew(-20deg);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
    text-shadow: 0 0 7px rgba(255, 255, 255, .8);
  }
}

@keyframes shootDown {
  from {
    height: 0;
  }
  to {
    height: 1em;
  }
}

@keyframes grow {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes popIn {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes up {
  from {
    transform: translateY(1000%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes splitLeft {
  0%, 10% {
    transform: translate(-50%, 0px) rotate(0);
  }
  10% {
    transform: translate(-50%, 0px) rotate(0);
  }
  30% {
    transform: translate(-54%, 20px) rotate(0);
  } 
  70% {
    transform: translate(-54%, 40px) rotate(-30deg);
  }
  100% {
    transform: translate(-500%, 40px) rotate(-30deg);
  }
}

@keyframes splitRight {
  0%, 70% {
    transform: translate(-50%, 0px) rotate(0);
  }
  100% {
    transform: translate(500%, 0px) rotate(0);
  }
}


/* ====== UNIVERSAL ===== */

/* Reset */
*, 
*::before, 
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: rgba(85,85,255,1);
  --red: rgba(255,85,85,1);
  --shadow: 0 5px 5px rgba(0, 0, 0, .3);
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, var(--blue) 0.1%, var(--red) 100%);
  font-family: 'Bangers', Impact, sans-serif;
  color: white;
}

h1 {
  margin: 2rem 0;
  font-size: 5rem;
  text-align: center;
}

hr {
  width: 100%;
  height: 2px;
  background-color: white;
  border: none;
  margin: 1rem 0;
  animation: grow .5s both;
}

label,
select,
.select-wrapper {
  animation: popIn .3s .3s both;
}

label {
  display: block;
  width: 20rem;
  font-size: 2.5rem;
}

select {
  padding-left: .5rem;
  width: 14rem;
  height: 3rem;
  background: #fff;
  border: none;
  box-shadow: var(--shadow);
  -webkit-appearance: button;
  -moz-appearance: button;
  outline: none;
  color: hsl(230, 0%, 20%);
  cursor: pointer;
  font-size: 2rem;
}

.selection-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10rem;
}

.select-wrapper {
  margin-top: 6rem;
  position: absolute;
}

.randomComboBox__selection .select-wrapper {
  margin-top: 4rem;
}

.select-wrapper::before {
  content: '▼';
  font-size: 1rem;
  color: #222;
  text-align: center;
  line-height: 3rem;
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 3rem;
  background: white;
  border-radius: 6px;
  pointer-events: none;
  z-index: 10;
}


.btn {
  padding: 1rem;

  margin: 1rem;

  background: white;
  border: none;
  border-radius: 10rem;
  box-shadow: var(--shadow);
  color: var(--blue);
  cursor: pointer;
  outline: none;
  width: 22rem;
  transition: .3s;
  
  font-family: 'Bangers', Impact, sans-serif;
  font-size: 2.8rem;
  letter-spacing: .8px;
}

.btn:hover {
  transform: scale(1.03) translateY(-3px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
}

.btn:active {
  transform: scale(1) translateY(0);
}

.start-screen__btn {
  animation: popIn .3s;
}

.random-screen__btn {
  animation: up .5s backwards;
}

#generateTrickBtn {
  animation: up .5s backwards;
}

#redo {
  animation: up .5s backwards;
}

#next {
  animation: up .5s .1s backwards;
}

#new {
  animation: up .5s .2s backwards;
}

#backToChoices {
  animation: up .5s .3s backwards;
}

.build-screen__combo,
.random-screen__combo {
  line-height: 1.7;
  width: 100%;
}

.connector {
  margin-top: -1rem;
  overflow: hidden;
  font-size: 3rem;
}

.connector.build {
  animation: shootDown .3s linear;
}

.transition {
  font-size: 2.3rem;
}

.transition.build {
  animation: pulse .3s;
}

.takeoff, 
.landing {
  font-size: 2.5rem;
}

.trick {
  font-size: 3.3rem;
  font-style: italic; 
}

.trick.build {
  position: relative;
  color: transparent;
  animation: slideIn .6s;
}

/* For delete animation */
.trick::before,
.trick::after {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0px) rotate(0);
  color: #fff;
  content: attr(data-name);
  width: 100%;
  font-size: inherit;
}

.remove::before {
  clip-path: polygon(0 0, 55% 0, 35% 100%, 0% 100%);
  animation: splitLeft 2s forwards;
}

.remove::after {
  clip-path: polygon(60% 0, 100% 0, 190% 110%, 40% 100%);
  animation: splitRight 2s forwards;
}


/* ===== START SCREEN ===== */

.start-screen { 
  position: absolute;
  top: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 4rem;

  max-width: 100%;
}

.start-screen__btn {
  margin: 2rem 0;
}


/* ===== BUILD COMBO SCREEN ===== */

.build-screen {
  width: 100%;
  margin-top: 2rem;
  text-align: center;
}

.build-screen__choices,
.randomScreen__choices {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.build-screen__choices-difficulty,
.randomScreen__selection--difficulty {
  position: relative;
}

.build-screen__combo {
  margin-bottom: 2rem;
}


/* ===== RANDOM COMBO SCREEN ===== */

.random-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;

}

.random-screen__choices {
  margin: 4rem 0;
}

.random-screen__selection--difficulty {
  margin-bottom: 3rem;
}

.random-screen__combo {
  margin: 2rem auto;
  width: 100%;
  text-align: center;
}


/* ===== MEDIA QUERIES ===== */

/* = =  Tablet = = = */
@media only screen and (min-width: 600px) { /* 700px */
  html {
    font-size: 70%;
  }

  h1 {
    margin-top: 4rem;
    font-size: 6rem;
  }

  .random-screen__btn {
    margin-top: 3rem;
  }

  .trick {
    font-size: 3.5rem;
  }
}


/* = = = Desktop = = = */
@media only screen and (min-width: 700px) {
  html {
    font-size: 75%;
  }

  h1 {
    font-size: 7rem;
  }

  .btn:hover {
    opacity: .9;
  }

  .trick {
    font-size: 3.8rem;
  }
}


/* ===== HIDE CLASSES===== */
.hide {
  display: none;
}

.hidden {
  visibility: hidden;
}